.aperitivos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.aperitivos > * {
  width: 240px;
}

.aperitivos h3 {
  margin: 0;
}

.aperitivos--img {
  width: 100%;
}