footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  font-family: var(--font-secondary);
}

.footer--card {
  display: grid;
  grid-template-areas: "pin title"
                       ". address"
                       ". phone"
                       ". hours";
  grid-template-columns: 20px 1fr;
  align-items: center;
  font-weight: 600;
  margin-bottom: 2rem;
  min-width: 300px;
}

.footer--card p {
  margin: 0;
}

.footer--card img {
  grid-area: pin;
  justify-self: end;
  padding-right: .3rem;
  padding-top: .6rem;
}

.footer--location-name {
  grid-area: title;
  font-weight: 700;
  font-size: 1.1rem;
}

.footer--location-address {
  grid-area: address;
  margin-bottom: 1rem !important;
}

.footer--location-phone {
  grid-area: phone;
}

.footer--location-hours {
  grid-area: hours;
}

.footer--card p {
  margin: 0;
}

@media only screen and (min-width:1024px) {
  footer {
    flex-direction: row;
    justify-content: center;
    gap: 20%;
  }
}