html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  --clr-primary: #104629;
  --clr-secondary: #FFBB3A;
  --clr-light: #FFFFFF;
  --clr-off-white: #FEFAF3;

  --font-primary: 'Barlow Condensed', sans-serif;
  --font-secondary: 'Barlow', sans-serif;

  --font-regular: 400;
  --font-bold: 600;
  --font-black: 700;

  accent-color: var(--clr-secondary);
}

body {
  margin: 0;

  font-family: var(--font-primary);
  color: var(--clr-primary);
}

img,
picture {
  max-width: 100%;
}

.bold {
  font-weight: 700;
}

.mobile-hidden {
  display: none;
}

input {
  box-sizing: border-box;
}

@media only screen and (min-width: 1024px) {
  .mobile-hidden {
      display: block;
  }
}